
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans-Medium;
    src: url(../fonts/OpenSans-Medium.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

/* ================== Defualt Browser =========================== */

*{
    padding: 0;
    margin: 0;
}

.container{
    max-width:1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;  
}

/*========== ==========================Global Style==================== =============*/

body{
    font-family: OpenSans-Regular; 
}

h2{
    font-size: 24px;
    line-height: 34px;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
}
h6{
    font-size: 17px;
    line-height: 23px;
    font-family: OpenSans-Regular;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
.text-white{
    color: #ffff;
}
h3{
    font-family: OpenSans-Bold;
    font-size: 25px;
    line-height: 30px;
}

      /* ===========================Custom Design==================== */

/* =================================Tobbar Section============================ */
.top-bar-section{
    background-color: #173a69;
    padding: 12px 0;
}

.top-bar-section .top-bar-parrents .top-bar-one,
.top-bar-section .top-bar-parrents .top-bar-two{
    width: 50%;
}

.top-bar-section .top-bar-parrents .top-bar-one li a{
    font-size: 13px;
    line-height: 18px;
    margin-left: 5px;
}
.top-bar-section .top-bar-parrents .top-bar-one li{
    margin-right: 35px;
}
.top-bar-section .top-bar-parrents .top-bar-two ul{
    justify-content: end;
}
.top-bar-section .top-bar-parrents .top-bar-two ul li{
    margin-left: 20px;
}


/* ============================= Nav Bar Section ======================= */

.nav-bar-section .nav-bar-parrents .nav-bar-one,
.nav-bar-section .nav-bar-parrents .nav-bar-two{
    width: 50%;
}

.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul{
    justify-content: space-between;
}

.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li{
       padding: 40px 20px; 
}
.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li:hover{
    background-color:#fbfbfb; 
 }  
.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li a{
    font-size: 15px;
    line-height: 20px;
    font-family: OpenSans-SemiBold;
    color: #0c1f38;
    text-transform: uppercase;
}

.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li {
    position: relative;
}
.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li:hover:after{
    width: 100%;
}
.nav-bar-section .nav-bar-parrents .nav-bar-two .menu-bar ul li::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #0c1f38;
    bottom: 0;
    transition: 1s;
}

/* ======================== service banner and overly ============================= */

.service-banner-section{
    background-image: url(/img/service-banner-overly.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;  
}
.service-banner-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(/img/service-banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0%;
    opacity: .3;
    
}
.service-banner-section .banner-text{
    text-align: center;
}
.service-banner-section .banner-text h2{
    font-size: 32px;
    line-height: 38px;
    font-family: OpenSans-ExtraBold;
    color: #ffffff;
}
.service-banner-section .banner-text p{
    font-size: 14px;
    line-height: 20px;
    font-family: OpenSans-Regular;
    color: #ffffff;
}

/* ========================== contact section ======================= */
.contact-us-section{
    margin: 80px 0;
}
.contact-us-section .contact-parrents{
    flex-wrap: wrap;
    column-gap: 4%;
}

.contact-us-section .contact-parrents .contact-one{
    width: 68%;
}
.contact-us-section .contact-parrents .contact-one p{
    font-size: 16px;
    line-height: 22px;
    font-family: OpenSans-Regular;
    margin: 15px 0;
}
.contact-us-section .contact-parrents .contact-one form .name-email {
    flex-wrap: wrap;
      column-gap: 2%;
}


.contact-us-section .contact-parrents .contact-one form .name-email .name #name{
    width: 98%;
    margin: 15px 0;
    margin-right: 206px;
    padding: 10px 5px;
}
.contact-us-section .contact-parrents .contact-one form .name-email .email #email{
    width: 98%;
    margin: 15px 0;
    margin-right: 206px;
    padding: 10px 5px;
}

.contact-us-section .contact-parrents .contact-one form .subject input{
    width: 98%;
    margin: 0px 0 15px 0;
    padding: 10px 5px;
}
.contact-us-section .contact-parrents .contact-one form .message #message{
    padding-left: 5px;
}

.contact-us-section .contact-parrents .contact-one .btn a{
    border: 1px solid #173a69;
    padding: 10px 30px;
    display: inline-block;
    color: #173a69;
    margin: 15px 0;
}
.contact-us-section .contact-parrents .contact-one .btn a:hover{
    background-color: #173a69;
    color: #ffffff;
}

.contact-us-section .contact-parrents .contact-two{
    width: 28%;
}
.contact-us-section .contact-parrents .contact-two ul li{
    margin: 15px 0;
}
.contact-us-section .contact-parrents .contact-two ul li .icon{
    margin-right: 5px;
    color: #173a69;
}
.contact-us-section .contact-parrents .contact-two ul li .addres{
    color: #173a69;
    font-family: OpenSans-ExtraBold;
}
.contact-us-section .contact-parrents .contact-two ul li .comunicate{
    color: black;
    font-family: OpenSans-Regular;
}

/* =================================== project-today-section ============================ */
.project-today-section{
    background-color: #173a69;
    padding: 85px 0;
}


.project-today-section .project-today-parrents{
    justify-content: center;
    align-items: center;
}
.project-today-section .project-today-parrents .pra p {
    font-size: 24px;
    line-height: 30px;
    font-family: OpenSans-Regular;
    color: #ffff;
}
.project-today-section .project-today-parrents .number h2{
    margin-left: 10px;
    font-family: OpenSans-ExtraBold;
    color: #ffff;
}

/* ===============================  last-section  =============================== */

.last-section .last-section-parrents .logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-section .last-section-parrents .logo-img img {
    height: 120px;
    width: 230px;
    margin: 60px 0 20px 0;
}
.last-section .last-section-parrents .social-icons ul{
    justify-content: center;
    align-items: center;
}
.last-section .last-section-parrents .social-icons ul li a i{
    color:#acacac ;
}

.last-section .last-section-parrents .social-icons ul .facebook{
    border: 1px solid #acacac;
    margin: 20px 20px;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 50%;
}
.last-section .last-section-parrents .social-icons ul .twiter{
    border: 1px solid #acacac;
    margin: 20px 20px;
    padding: 15px 18px;
    display: inline-block;
    border-radius: 50%;
}
.last-section .last-section-parrents .social-icons ul .google{
    border: 1px solid #acacac;
    margin: 20px 20px;
    padding: 15px 16px;
    display: inline-block;
    border-radius: 50%;
}
.last-section .last-section-parrents .social-icons ul li:hover{
    background: #acacac;
    cursor: pointer;
   
}
.last-section .last-section-parrents .social-icons ul li:hover a i{
    color: #173a69;
}

/* ============================== footer ============================= */
.footer-section{
    background-color: #000000;
    padding: 25px 0;
    margin-top: 65px;
}
.footer-section .text p{
    font-size: 15px;
    line-height: 20px;
    font-family: OpenSans-semiBold;
    color: #ffff;
    text-align: center;
}
.footer-section .text p a{
    color: #ffff;
    text-decoration: underline;
    font-family: OpenSans-Bold;
}
